@font-face {
    font-family: 'Outfit';
    src: url('/assets/fonts/Outfit/Outfit-VariableFont_wght.ttf') format('truetype');
}

:root {
    --white-text: #152707;
    --bg-white: #f8f6f6;
    --primary-blue: #174582;
    --dark-blue: #1F1782;
    --light-teal: #1FA3AD;
    --teal: #177A82;
    --secondary-green: #e0f7cf;
    --dark: #050505;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

h1, h2 {
    font-family: 'Outfit', sans-serif;
    font-weight: 800;
    color: var(--dark);
}

p, li, form label, a {
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
}

a {
    text-decoration: none;
    color: var(--primary-blue);
}

a:active {
    opacity: 0.5;
}

.wrapper {
    margin: 110px 0;
    padding: 10px;
}

/******** State / Animate Styles **********/

.hide, .desktop-projects-circle, .desktop-contact-bar {
    display: none;
}


/******** END State / Animate ************/



/************** Header *******************/
header {
    position: relative;
    height: 650px;
    background: url('/assets/imgs/sm-wave.jpg');
    
}

nav {
    height: 50px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid var(--dark);
}

nav a {
    margin: 10px 10px;
}

header h1 {
    width: 80%;
    position: absolute;
    top: 360px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--bg-white);
    text-shadow: 2px 3px 5px rgb(49, 47, 47);
}

/*******************************************/


/***************** About *******************/

#about {
    height: 550px;
    text-align: center;
    margin-bottom: 40px;
}

#about h2 {
    text-align: center;
}

#about img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

#about p {
    font-weight: 500;
    font-size: 1rem;
    border-bottom: 1px solid var(--dark);
}

#about ul {
    margin: 25px;
    list-style-type:circle;
    text-align: left;
}

#about li {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
}
/*******************************************/


/***************** Projects *******************/
#projects {
    position: relative;
    width: 100%;
    height: 500px;
    padding-top: 50px;
    background-color: rgba(23, 69, 130, 0.7);
    color: white;
}

.project-info {
    width: 90%;
    top: 25px;
    text-align: center;
}

#projects-carousel {
    margin-top: 40px;
    width: 100%;
    height: 270px;
}

.project {
    top: 80px;
    left: 40px;
    width: 166px;
    height: 265px;
    margin: 0 auto;
    padding-top: 5px;
    border-radius: 5px;
    border: 1px solid var(--bg-white);
    background-color: var(--bg-white);
}

.project img {
    display: block;
   width: 159px;
   height: 210px;
   margin: 0 auto;
   margin-bottom: 10px;
}

.project a {
    margin-left: 20px;
    font-size: 1.1em;
}

#projects h2, .btns, .project-info {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#projects h2 {
    bottom: 80px;
    width: 200px;
    text-align: center;
    color: white;
    letter-spacing: 2px;
}

.btns {
    bottom: 30px;
    width: 200px;
    height: 45px;
    margin: 0 auto;
    border-radius: 25px;
    background-color: rgba(23, 69, 130, 0.8);

    display: flex;
    justify-content: space-between;
}

.back-btn, .next-btn {
    width:75px;
    height: 45px;
    border: none;
    background-color: var(--primary-blue);
    color: var(--bg-white);
}

.back-btn {
    border-radius: 25px 0 0 25px;
}

.next-btn {
    border-radius: 0 25px 25px 0;
}

.back-btn:active, .next-btn:active {
    opacity: 0.2;
}
/*******************************************/


/***************** Contact *******************/
#contact {
    height: 400px;
    width: 70vw;
    margin: 70px auto;
    margin-top: 130px;
}

#contact h2 {
    margin-left: 20px;
}

form {
    position: relative;
    display: block;
    height: 350px;
    padding: 15px 0;

    border: 5px solid rgba(23, 69, 130, 0.2);
    border-radius: 10px;
}

form input {
    margin: 0 auto;
    height: 20px;
}

form label {
    margin: 5px 0;
    text-align: center;
}

form label, form input {
    display: block;
    margin-top: 5px;
}

form input, form textarea {
    width: 80%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid var(--primary-blue);
    border-radius: 3px;
}

form input:focus, form textarea:focus {
    border: none;
    outline: 3px solid rgba(23, 69, 130, 0.5);
}

form textarea {
    display: block;
    margin: 5px auto;
}

form input[type="submit"] {
    width: 120px;
    height: 40px;
    border: none;
    margin-top: 15px;
    background-color: var(--primary-blue);
    color: var(--bg-white);
    font-weight: bold;
}

form input[type="submit"]:active {
    opacity: 0.5;
}

.error-msg {
    width: 180px;
    bottom: 10px;
    text-align: center;
    color: red;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.thanks-msg {
    margin-top: 120px;
    text-align: center;
}
/*******************************************/

@media only screen and (min-width: 365px) {
    header nav {
        width: 80%;
    }

    #about ul {
        margin: 25px auto;
        width: 315px;
    }

    .project-info {
        top: 30px;
    }

    #projects-carousel {
        margin-top: 30px;
    }

    #contact h2 {
        font-size: 1.7rem;
    }

    form {
        height: 370px;
    }

    form input, form textarea {
        width: 75%;
    }

    form input {
        height: 25px;
    }
}

@media only screen and (min-width: 630px) {
    header {
        background: url("../assets/imgs/xlg-wave.jpg");
        background-size: cover;
    }

    header h1 {
        top: 430px;
        
    }

    #contact {
        height: 530px;
    }

    #contact h2 {
        width: 423px;
        margin: 0 auto;
        font-size: 2rem;
    }

    form {
        width: 470px;
        margin: 0 auto;
    }

    form input, form textarea {
        width: 300px;
    }

    form input {
        height: 30px;
        padding: 5px 10px;
    }
}

@media only screen and (min-width: 1000px) {
    header {
        margin-bottom: 150px;
        background-size: calc(2400px / 2.4) 667px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgba(23, 69, 130, 0.3);
    }

    header h1 {
        top: 390px;
    }

    header nav {
        width: 40%;
    }

    .wrapper {
        z-index: 100;
    }

    #about ul {
        margin-top: 40px;
    }

    #projects {
        width: 700px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 3px;
    }
}

@media only screen and (min-width: 1150px) {
    #about {
        position: relative;
        width: 1100px;
        height: 575px;
        border-top: 5px solid rgba(23, 69, 130, 0.2);
        border-bottom: 5px solid rgba(23, 69, 130, 0.2);
        margin: 175px auto;
        border-radius: 110px;
    }

    #about h2 {
        font-size: 2rem;
        top: 40px;
        left: 75px;
    }

    #about img, #about p, #about ul, #about h2 {
        position: absolute;
    }

    #about img {
        top: 200px;
        left: 250px;
        margin: 0;
    }

    #about p {
        top: 315px;
        left: 220px;
        font-weight: 600;
    }

    #about ul {
        right: 150px;
        top: 157px;
        margin: 0;
        padding: 0;
    }

    #about li {
        font-weight: 400;
    }

    .desktop-projects-circle {
        display: block;
        position: absolute;
        border-radius: 50%;
    }

    .left {
        background-color: var(--teal);
    }

    .right {
        background-color: var(--light-teal);;
    }

    .one, .four {
        width: 150px;
        height: 150px;
        opacity: 0.7;
    }

    .two, .five {
        width: 100px;
        height: 100px;
        opacity: 0.5;
    }

    .three, .six {
        width: 50px;
        height: 50px;
        opacity: 0.4;
    }

    .one {
        left: -200px;
        top: 15px;
    }

    .two {
        top: 200px;
        left: -175px;
    }

    .three {
        top: 340px;
        left: -150px;
    }

    .four {
        right: -200px;
        bottom: 15px;
    }

    .five {
        right: -173px;
        bottom: 200px;
    }

    .six {
        right: -145px;
        bottom: 340px;
    }

    #contact {
        position: relative;
        width: 470px;
        margin-top: 200px;
    }

    .desktop-contact-bar {
        display: block;
        position: absolute;
        
        height: 50px;
        border-radius: 3px;
    }

    .bar-one {
        width: 330px;
        top: 75px;
        left: -335px;
        background-color: var(--light-teal);
        border-radius: 0 50px 0 50px;
        opacity: 0.3;
    }

    .bar-two {
        width: 300px;
        bottom: 170px;
        right: -325px;
        background-color: var(--teal);
        border-radius: 50px 0 50px 0;
        opacity: 0.3;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(73, 70, 70);
    }

    header {
        border-bottom: 3px solid var(--bg-white);
    }

    #about {
        background-color: rgb(238, 238, 238);
    }

    #projects {
        border: 2px solid rgb(236, 229, 229);
    }

    #contact form {
        background-color: rgb(236, 229, 229);
    }

    #contact h2 {
        color: rgb(236, 229, 229);
    }

    .desktop-projects-circle {
        border: 1px solid var(--bg-white);
    }

    .bar-one, .bar-two {
        border: 1px solid var(--bg-white);
        opacity: 0.5;
    }
}